html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

/* gcw-game {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} */

/*iframe,
canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
} */

/* #game {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 5;
} */

#enrichedWrapperMainWrapper {
  position: fixed;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;

  /* object-fit: contain; */

  /* zoom:0.5;
    -moz-transform:scale(0.5);
    -moz-transform-origin: 0 0; */
}

#enrichedWrapperInnerWrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 720px;
  /* max-width: 100%;
    max-height: 100%; */
  /* top: 50%;
    left: 50%; */
  /* z-index: 15; */
  pointer-events: none;
  /* transform-origin: 0.5 0.5; */
  /* transform: translate(-50%, -50%); */
}

#enrichedWrapperInnerWrapper.portraite {
  width: 720px;
  height: 1440px;
}

/* #enrichedWrapperCanvas * {
    position: absolute;
    z-index: 20;
    pointer-events: all;
} */

button {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  padding: 0;
  pointer-events: all;
}

.btn {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 20;
  pointer-events: all;
  display: inline-block;
  background: no-repeat url('../assets/ui/ui_buttons_icons_desktop.png');
  /* top: 30px;
    left: 100px;
    width: 53px;
    height: 43px; */
}

.autospin_btn_iconStart {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 40px;
  overflow: hidden;

  /* coords counting: left -JSON.x px top -JSON.y px  */
  background-position: left -1991px top -481px;
}

#spinButton {
  background-color: #0099cc;
}

#spinButton:disabled {
  background-color: #cccccc;
}

.autospin_icon_infinity_active {
  /* it is roteted and trmmed */
  top: 0px;
  left: 0px;
  width: 53px;
  height: 28px;
  background-position: left -2016px top -1px;
}

.autospin_icon_infinity_off {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 23px;
  background-position: left -2021px top -286px;
}
.autospin_icon_infinity_on {
  top: 0px;
  left: 0px;
  width: 53px;
  height: 23px;
  background-position: left -2021px top -341px;
}
.autospin_icon_stop_bonus_off {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 43px;
  background-position: left -681px top -391px;
}
.autospin_icon_stop_bonus_on {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 43px;
  background-position: left -646px top -1076px;
}
.autospin_icon_turbo_spin_off {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 38px;
  background-position: left -646px top -1036px;
}
.autospin_icon_turbo_spin_on {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 38px;
  background-position: left -736px top -1036px;
}
.bet_icon_max_off {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 43px;
  background-position: left -1271px top -1056px;
}
.bet_icon_max_on {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 43px;
  background-position: left -1311px top -1056px;
}
.bet_icon_superstake {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 48px;
  background-position: left -826px top -1036px;
}
.bttn_AUTOSPIN_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -561px;
}
.bttn_AUTOSPIN_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -656px;
}
.bttn_AUTOSPIN_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -751px;
}
.bttn_AUTOSPIN_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -846px;
}
.bttn_AUTOSPIN_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -941px;
}
.bttn_AUTOSPIN_STOP_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1166px top -296px;
}
.bttn_AUTOSPIN_STOP_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1261px top -296px;
}
.bttn_AUTOSPIN_STOP_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -466px;
}
.bttn_AUTOSPIN_STOP_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -561px;
}
.bttn_AUTOSPIN_STOP_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -881px top -141px;
}
.bttn_AUTOSPIN_STOP_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1941px top -191px;
}
.bttn_AUTOSPIN_STOP_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -976px top -281px;
}
.bttn_AUTOSPIN_STOP_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1071px top -281px;
}
.bttn_AUTOSPIN_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -751px;
}
.bttn_AUTOSPIN_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -846px;
}
.bttn_AUTOSPIN_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -941px;
}
.bttn_AUTOSPIN_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -716px top -371px;
}
.bttn_AUTOSPIN_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -756px top -466px;
}
.bttn_AUTOSPIN_SUPER_STOP_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -661px top -656px;
}
.bttn_CHOOSE_BET_COIN_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -941px;
}
.bttn_CHOOSE_BET_COIN_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1356px top -296px;
}
.bttn_CHOOSE_BET_COIN_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1451px top -291px;
}
.bttn_CHOOSE_BET_COIN_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1546px top -291px;
}
.bttn_CHOOSE_BET_COIN_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1641px top -291px;
}
.bttn_CHOOSE_BET_COIN_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -466px;
}
.bttn_CHOOSE_BET_COIN_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -561px;
}
.bttn_CHOOSE_BET_COIN_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -656px;
}
.bttn_CHOOSE_BET_COIN_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -751px;
}
.bttn_CHOOSE_BET_COIN_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -851px top -846px;
}
.bttn_CHOOSE_BET_DOLLAR_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1166px top -391px;
}
.bttn_CHOOSE_BET_DOLLAR_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1261px top -391px;
}
.bttn_CHOOSE_BET_DOLLAR_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1356px top -391px;
}
.bttn_CHOOSE_BET_DOLLAR_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1451px top -386px;
}
.bttn_CHOOSE_BET_DOLLAR_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1546px top -386px;
}
.bttn_CHOOSE_BET_DOLLAR_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1736px top -291px;
}
.bttn_CHOOSE_BET_DOLLAR_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1831px top -291px;
}
.bttn_CHOOSE_BET_DOLLAR_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1926px top -291px;
}
.bttn_CHOOSE_BET_DOLLAR_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -976px top -376px;
}
.bttn_CHOOSE_BET_DOLLAR_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1071px top -376px;
}
.bttn_CHOOSE_BET_EURO_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -566px;
}
.bttn_CHOOSE_BET_EURO_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -471px;
}
.bttn_CHOOSE_BET_EURO_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -661px;
}
.bttn_CHOOSE_BET_EURO_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -566px;
}
.bttn_CHOOSE_BET_EURO_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -756px;
}
.bttn_CHOOSE_BET_EURO_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1641px top -386px;
}
.bttn_CHOOSE_BET_EURO_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1736px top -386px;
}
.bttn_CHOOSE_BET_EURO_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1831px top -386px;
}
.bttn_CHOOSE_BET_EURO_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1926px top -386px;
}
.bttn_CHOOSE_BET_EURO_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -471px;
}
.bttn_CHOOSE_BET_POUND_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -946px;
}
.bttn_CHOOSE_BET_POUND_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -486px;
}
.bttn_CHOOSE_BET_POUND_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -581px;
}
.bttn_CHOOSE_BET_POUND_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -486px;
}
.bttn_CHOOSE_BET_POUND_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -676px;
}
.bttn_CHOOSE_BET_POUND_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -661px;
}
.bttn_CHOOSE_BET_POUND_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -851px;
}
.bttn_CHOOSE_BET_POUND_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -756px;
}
.bttn_CHOOSE_BET_POUND_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1041px top -851px;
}
.bttn_CHOOSE_BET_POUND_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -946px top -946px;
}
.bttn_download_down {
  top: 0px;
  left: 0px;
  width: 138px;
  height: 63px;
  background-position: left -866px top -236px;
}
.bttn_download_hover {
  top: 0px;
  left: 0px;
  width: 148px;
  height: 73px;
  background-position: left -531px top -391px;
}
.bttn_download_regular {
  top: 0px;
  left: 0px;
  width: 148px;
  height: 73px;
  background-position: left -641px top -241px;
}
.bttn_FAST_SPIN_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -866px;
}
.bttn_FAST_SPIN_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -771px;
}
.bttn_FAST_SPIN_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -676px;
}
.bttn_FAST_SPIN_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -866px;
}
.bttn_FAST_SPIN_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -771px;
}
.bttn_FAST_SPIN_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -581px;
}
.bttn_FAST_SPIN_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -486px;
}
.bttn_FAST_SPIN_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -771px;
}
.bttn_FAST_SPIN_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -676px;
}
.bttn_FAST_SPIN_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -581px;
}
.bttn_GAMBLE_down {
  top: 0px;
  left: 0px;
  width: 208px;
  height: 73px;
  background-position: left -321px top -391px;
}
.bttn_GAMBLE_hover {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 78px;
  background-position: left -1px top -1036px;
}
.bttn_GAMBLE_inactive {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 78px;
  background-position: left -661px top -141px;
}
.bttn_GAMBLE_regular {
  top: 0px;
  left: 0px;
  width: 218px;
  height: 78px;
  background-position: left -221px top -1036px;
}
.bttn_home_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1801px top -481px;
}
.bttn_home_down {
  top: 0px;
  left: 0px;
  width: 83px;
  height: 83px;
  background-position: left -1891px top -756px;
}
.bttn_home_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -861px;
}
.bttn_MENU_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -581px;
}
.bttn_MENU_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -676px;
}
.bttn_MENU_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -771px;
}
.bttn_MENU_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -866px;
}
.bttn_MENU_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -961px;
}
.bttn_MENU_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -866px;
}
.bttn_MENU_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1136px top -961px;
}
.bttn_MENU_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1231px top -961px;
}
.bttn_MENU_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1326px top -961px;
}
.bttn_MENU_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1421px top -486px;
}
.bttn_menuClose_dim {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  background-position: left -1986px top -576px;
}
.bttn_menuClose_down {
  top: 0px;
  left: 0px;
  width: 58px;
  height: 58px;
  background-position: left -1986px top -636px;
}
.bttn_menuClose_hover {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1711px top -1036px;
}
.bttn_menuClose_regular {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1776px top -1036px;
}
.bttn_menuItem_Active {
  top: 0px;
  left: 0px;
  width: 8px;
  height: 8px;
  background-position: left -1701px top -1036px;
}
.bttn_MIN_hover {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1071px top -1041px;
}
.bttn_MIN_push {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1976px top -756px;
}
.bttn_MIN_regular {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1976px top -821px;
}
.bttn_MIN_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -901px top -386px;
}
.bttn_MIN_SUPER_push {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -941px top -1041px;
}
.bttn_MIN_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1006px top -1041px;
}
.bttn_minus_active {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 13px;
  background-position: left -1136px top -471px;
}
.bttn_minus_hover {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 13px;
  background-position: left -901px top -451px;
}
.bttn_minus_regular {
  top: 0px;
  left: 0px;
  width: 23px;
  height: 13px;
  background-position: left -1986px top -741px;
}
.bttn_paytable_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1611px top -766px;
}
.bttn_paytable_down {
  top: 0px;
  left: 0px;
  width: 83px;
  height: 83px;
  background-position: left -1886px top -841px;
}
.bttn_paytable_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1706px top -671px;
}
.bttn_plus_active {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 33px;
  background-position: left -681px top -436px;
}
.bttn_plus_hover {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 33px;
  background-position: left -2016px top -56px;
}
.bttn_PLUS_hover {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1516px top -1051px;
}
.bttn_PLUS_push {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1581px top -1051px;
}
.bttn_plus_regular {
  top: 0px;
  left: 0px;
  width: 28px;
  height: 33px;
  background-position: left -2016px top -91px;
}
.bttn_PLUS_regular {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1646px top -1046px;
}
.bttn_PLUS_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1971px top -886px;
}
.bttn_PLUS_SUPER_push {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1971px top -951px;
}
.bttn_PLUS_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  background-position: left -1971px top -1016px;
}
.bttn_rules_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1801px top -576px;
}
.bttn_rules_down {
  top: 0px;
  left: 0px;
  width: 83px;
  height: 83px;
  background-position: left -1886px top -926px;
}
.bttn_rules_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1896px top -481px;
}
.bttn_settings_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -956px;
}
.bttn_settings_down {
  top: 0px;
  left: 0px;
  width: 83px;
  height: 83px;
  background-position: left -1886px top -1011px;
}
.bttn_settings_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1611px top -861px;
}
.bttn_SOUND_OFF_active {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1706px top -856px;
}
.bttn_SOUND_OFF_hover {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1896px top -666px;
}
.bttn_SOUND_OFF_inactive {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1706px top -946px;
}
.bttn_SOUND_OFF_push {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1796px top -766px;
}
.bttn_SOUND_OFF_regular {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1796px top -856px;
}
.bttn_SOUND_OFF_SUPER_active {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -811px top -376px;
}
.bttn_SOUND_OFF_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1706px top -766px;
}
.bttn_SOUND_OFF_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1801px top -671px;
}
.bttn_SOUND_OFF_SUPER_push {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1896px top -576px;
}
.bttn_SOUND_OFF_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1611px top -956px;
}
.bttn_SOUND_ON_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1611px top -576px;
}
.bttn_SOUND_ON_hover {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1706px top -481px;
}
.bttn_SOUND_ON_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -766px;
}
.bttn_SOUND_ON_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1611px top -671px;
}
.bttn_SOUND_ON_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1706px top -576px;
}
.bttn_SOUND_ON_SUPER_active {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -481px;
}
.bttn_SOUND_ON_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  background-position: left -1796px top -946px;
}
.bttn_SOUND_ON_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -576px;
}
.bttn_SOUND_ON_SUPER_push {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1611px top -481px;
}
.bttn_SOUND_ON_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 93px;
  height: 93px;
  background-position: left -1516px top -671px;
}
.bttn_SPIN_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1166px top -16px;
}
.bttn_SPIN_inactive {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1356px top -11px;
}
.bttn_SPIN_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1546px top -11px;
}
.bttn_SPIN_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1736px top -11px;
}
.bttn_SPIN_STOP_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1px top -466px;
}
.bttn_SPIN_STOP_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1px top -656px;
}
.bttn_SPIN_STOP_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -1px top -846px;
}
.bttn_SPIN_SUPER_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -381px top -466px;
}
.bttn_SPIN_SUPER_inactive {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -381px top -656px;
}
.bttn_SPIN_SUPER_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -381px top -846px;
}
.bttn_SPIN_SUPER_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -976px top -16px;
}
.bttn_SPIN_SUPER_STOP_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -191px top -466px;
}
.bttn_SPIN_SUPER_STOP_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -191px top -656px;
}
.bttn_SPIN_SUPER_STOP_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 188px;
  background-position: left -191px top -846px;
}
.bttn_SUPER_STAKE2_active_dim {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -1926px top -1px;
}
.bttn_SUPER_STAKE2_active_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -1181px top -206px;
}
.bttn_SUPER_STAKE2_active_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -1371px top -201px;
}
.bttn_SUPER_STAKE2_active_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -1561px top -201px;
}
.bttn_SUPER_STAKE2_inactive_dim {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -1751px top -201px;
}
.bttn_SUPER_STAKE2_inactive_hover {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -571px top -466px;
}
.bttn_SUPER_STAKE2_inactive_push {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -571px top -656px;
}
.bttn_SUPER_STAKE2_inactive_regular {
  top: 0px;
  left: 0px;
  width: 188px;
  height: 88px;
  background-position: left -571px top -846px;
}
.bttn_toggle_OFF {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 43px;
  background-position: left -931px top -236px;
}
.bttn_toggle_ON {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 43px;
  background-position: left -931px top -311px;
}
.checkbox_checked_down {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  background-position: left -1986px top -696px;
}
.checkbox_checked_hover {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 43px;
  background-position: left -1991px top -526px;
}
.checkbox_checked_regular {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 43px;
  background-position: left -891px top -1036px;
}
.checkbox_unchecked_down {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  background-position: left -1136px top -1056px;
}
.checkbox_unchecked_hover {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  background-position: left -1181px top -1056px;
}
.checkbox_unchecked_regular {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 43px;
  background-position: left -1226px top -1056px;
}
.column1_bttn_green_regular {
  top: 0px;
  left: 0px;
  width: 658px;
  height: 73px;
  background-position: left -1px top -16px;
}
.column1_bttn_off {
  top: 0px;
  left: 0px;
  width: 658px;
  height: 73px;
  background-position: left -1px top -91px;
}
.column1_bttn_on {
  top: 0px;
  left: 0px;
  width: 658px;
  height: 73px;
  background-position: left -1px top -166px;
}
.column2_bttn_green_regular {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 73px;
  background-position: left -1px top -241px;
}
.column2_bttn_off {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 73px;
  background-position: left -1px top -316px;
}
.column2_bttn_on {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 73px;
  background-position: left -321px top -241px;
}
.column3_bttn_off {
  top: 0px;
  left: 0px;
  width: 203px;
  height: 73px;
  background-position: left -976px top -206px;
}
.column3_bttn_on {
  top: 0px;
  left: 0px;
  width: 203px;
  height: 73px;
  background-position: left -441px top -1036px;
}
.column4_bttn_off {
  top: 0px;
  left: 0px;
  width: 148px;
  height: 73px;
  background-position: left -716px top -221px;
}
.column4_bttn_on {
  top: 0px;
  left: 0px;
  width: 148px;
  height: 73px;
  background-position: left -716px top -296px;
}
.menu_titleLine {
  top: 0px;
  left: 0px;
  width: 1793px;
  height: 8px;
  background-position: left -1px top -1px;
}
.menu_titleLine2 {
  top: 0px;
  left: 0px;
  width: 1223px;
  height: 3px;
  background-position: left -1px top -11px;
}
.overlay_bttn_hover {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 73px;
  background-position: left -1px top -391px;
}
.overlay_bttn_regular {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 73px;
  background-position: left -321px top -316px;
}
.superstake_logo_dialog {
  top: 0px;
  left: 0px;
  width: 313px;
  height: 123px;
  background-position: left -661px top -16px;
}
.toggle_off {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  background-position: left -691px top -1076px;
}
.toggle_on {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 33px;
  background-position: left -1351px top -1056px;
}
