#gcw-message-dlg {
  display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('../html_client/data/images/sl-spinner.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.dialog-content {
  display: none;
}
