/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:ffb6f7784d754b5489ea3f6bf426ffcb:b7fde722d4e81c2c6ea873dcf3d9a47e:8144a1e83384e501685f50a4ab6b6601$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(ui_desktop.png);
}

.autospin_bttn_iconStart {
  width: 49px;
  height: 40px;
  background-position: -1786px -165px;
}
.autospin_icon_infinity_active {
  width: 52px;
  height: 24px;
  background-position: -1px -217px;
}
.autospin_icon_infinity_off {
  width: 50px;
  height: 22px;
  background-position: -55px -217px;
}
.autospin_icon_infinity_on {
  width: 50px;
  height: 22px;
  background-position: -107px -217px;
}
.autospin_icon_stop_bonus_off {
  width: 32px;
  height: 43px;
  background-position: -1837px -165px;
}
.autospin_icon_stop_bonus_on {
  width: 32px;
  height: 43px;
  background-position: -1871px -165px;
}
.autospin_icon_turbo_spin_off {
  width: 86px;
  height: 37px;
  background-position: -295px -209px;
}
.autospin_icon_turbo_spin_on {
  width: 86px;
  height: 37px;
  background-position: -1076px -145px;
}
.bet_icon_max_off {
  width: 34px;
  height: 40px;
  background-position: -383px -209px;
}
.bet_icon_max_on {
  width: 34px;
  height: 40px;
  background-position: -1786px -207px;
}
.bet_icon_superstake {
  width: 61px;
  height: 47px;
  background-position: -1496px -189px;
}
.bttn_download_down {
  width: 135px;
  height: 62px;
  background-position: -295px -145px;
}
.bttn_download_hover {
  width: 145px;
  height: 70px;
  background-position: -1496px -73px;
}
.bttn_download_regular {
  width: 145px;
  height: 70px;
  background-position: -1643px -73px;
}
.bttn_home_active {
  width: 90px;
  height: 90px;
  background-position: -1790px -73px;
}
.bttn_home_down {
  width: 81px;
  height: 81px;
  background-position: -1164px -145px;
}
.bttn_home_regular {
  width: 90px;
  height: 90px;
  background-position: -432px -145px;
}
.bttn_menuClose_dim {
  width: 70px;
  height: 70px;
  background-position: -1836px -1px;
}
.bttn_menuClose_down {
  width: 70px;
  height: 70px;
  background-position: -1570px -145px;
}
.bttn_menuClose_hover {
  width: 70px;
  height: 70px;
  background-position: -1642px -145px;
}
.bttn_menuClose_regular {
  width: 70px;
  height: 70px;
  background-position: -1714px -145px;
}
.bttn_menuItem_Active {
  width: 6px;
  height: 6px;
  background-position: -1882px -109px;
}
.bttn_minus_active {
  width: 22px;
  height: 10px;
  background-position: -1882px -73px;
}
.bttn_minus_hover {
  width: 22px;
  height: 10px;
  background-position: -1882px -85px;
}
.bttn_minus_regular {
  width: 22px;
  height: 10px;
  background-position: -1882px -97px;
}
.bttn_paytable_active {
  width: 90px;
  height: 90px;
  background-position: -524px -145px;
}
.bttn_paytable_down {
  width: 81px;
  height: 81px;
  background-position: -1247px -145px;
}
.bttn_paytable_regular {
  width: 90px;
  height: 90px;
  background-position: -616px -145px;
}
.bttn_plus_active {
  width: 26px;
  height: 29px;
  background-position: -159px -217px;
}
.bttn_plus_hover {
  width: 26px;
  height: 29px;
  background-position: -187px -217px;
}
.bttn_plus_regular {
  width: 26px;
  height: 29px;
  background-position: -215px -217px;
}
.bttn_rules_active {
  width: 90px;
  height: 90px;
  background-position: -708px -145px;
}
.bttn_rules_down {
  width: 81px;
  height: 81px;
  background-position: -1330px -145px;
}
.bttn_rules_regular {
  width: 90px;
  height: 90px;
  background-position: -800px -145px;
}
.bttn_settings_active {
  width: 90px;
  height: 90px;
  background-position: -892px -145px;
}
.bttn_settings_down {
  width: 81px;
  height: 81px;
  background-position: -1413px -145px;
}
.bttn_settings_regular {
  width: 90px;
  height: 90px;
  background-position: -984px -145px;
}
.bttn_toggle_OFF {
  width: 72px;
  height: 42px;
  background-position: -1076px -184px;
}
.bttn_toggle_ON {
  width: 72px;
  height: 42px;
  background-position: -1496px -145px;
}
.column1_bttn_green_regular {
  width: 655px;
  height: 70px;
  background-position: -1px -1px;
}
.column1_bttn_off {
  width: 655px;
  height: 70px;
  background-position: -658px -1px;
}
.column1_bttn_on {
  width: 655px;
  height: 70px;
  background-position: -1px -73px;
}
.column2_bttn_green_regular {
  width: 315px;
  height: 70px;
  background-position: -1315px -1px;
}
.column2_bttn_off {
  width: 315px;
  height: 70px;
  background-position: -658px -73px;
}
.column2_bttn_on {
  width: 315px;
  height: 70px;
  background-position: -975px -73px;
}
.column3_bttn_off {
  width: 202px;
  height: 70px;
  background-position: -1632px -1px;
}
.column3_bttn_on {
  width: 202px;
  height: 70px;
  background-position: -1292px -73px;
}
.column4_bttn_off {
  width: 145px;
  height: 70px;
  background-position: -1px -145px;
}
.column4_bttn_on {
  width: 145px;
  height: 70px;
  background-position: -148px -145px;
}
