/* html, body {
  margin: 0;
  padding: 0;
  background:  #000000;

} */

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@font-face {
  font-family: 'neuropolitical';
  src: url('../fonts/neuropoliticalrg.ttf');
  font-weight: 400;
  font-weight: normal;
}
@font-face {
  font-family: MyriadPro-Bold;
  src: url(EW/fonts/MyriadPro-Bold.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-BoldCond;
  src: url(EW/fonts/MyriadPro-BoldCond.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-BoldCondIt;
  src: url(EW/fonts/MyriadPro-BoldCondIt.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-BoldIt;
  src: url(EW/fonts/MyriadPro-BoldIt.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-Cond;
  src: url(EW/fonts/MyriadPro-Cond.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-Light;
  src: url(EW/fonts/MyriadPro-Light.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url(EW/fonts/MyriadPro-Regular.otf) format('opentype');
}

@font-face {
  font-family: MyriadPro-SemiBold;
  src: url(EW/fonts/MyriadPro-SemiBold.otf) format('opentype');
}
